#carbon_fields_container_importexport {
  padding: 0;
  background-color: transparent;
  border: none;
}

#wpcontent .lisfinity-wrapper {
  @apply bg-grey-100;
  &--builder {
    //background-color: #fff;
  }

  .Toastify__toast-container--top-right {
    top: 50px !important;
  }

  input {
    &:not([type=checkbox]) {
      @apply bg-transparent border-0 shadow-none font-semibold text-base text-grey-900;
    }

    &[type=number] {
      height: auto;

      &.grey {
        width: 46px;
        height: 26px;
        min-height: auto;
        padding-right: 0;
        @apply ml-10 py-0 pl-10 bg-grey-100 border border-grey-200 rounded;
      }
    }


    &[type=radio],
    &[type=checkbox] {
      @apply rounded border-grey-300;
      &.grey {
        @apply mr-8 bg-grey-100 border-grey-200 shadow-none;
      }
    }

    &[type=radio] {
      &.grey {
        @apply rounded-full;
        &::before {
          margin: 4px;
        }
      }
    }
  }

  select {
    height: auto;
    padding: 10px;
    box-shadow: none;

    &.no-close {
      padding: 8px 16px;
      height: auto;
    }
  }

  textarea {
    box-shadow: none;
  }

  a {
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

.taxonomies {
  display: flex;
  margin: 20px 0;

  &--wrapper {
    cursor: pointer;

    &::-webkit-scrollbar {
      display: none;
      height: 2px;
    }

    &::-webkit-scrollbar {
      display: block;
    }

    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-grey-400 rounded;
    }

    &.active {
      cursor: grabbing;
    }
  }

  .taxonomy {
    &-dnd {
      transition: .2s ease-in-out;
    }

    &--item {
      display: flex;

      .gu-transit {
        position: relative;
        display: flex;
      }

      .taxonomy-dnd {
        position: relative;
        display: block;
        top: 20px;
        margin-right: 0;
        padding: 10px;

        &:empty {
          margin-right: -10px;
        }

        .taxonomy-item {
          display: inline-block;
        }
      }
    }

    &--element {
      position: relative;
      margin-right: 5px;
      padding: 20px;
      min-width: 280px;
      border-radius: 4px;
      cursor: default;
    }
  }
}

.taxonomy-parent.taxonomy-dnd {
  border: 4px dashed transparent;
}

.gu-unselectable {
  .taxonomy--item:not(.gu-transit) {
    .taxonomy-parent.taxonomy-dnd {
      margin-right: 10px !important;
      min-width: 80px;
      max-width: 304px;
      background-color: #eaeaea;
      border: 4px dashed;
      @apply rounded border-grey-300;
    }
  }
}

@-webkit-keyframes fadeIU {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.cf-group {
  &.animate {
    animation: fadeIU .6s;
  }
}

.terms {
  overflow-x: hidden;

  &--pagination {
    animation: fadeIU .6s;
  }

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-grey-400 rounded;
  }
}

.term {
  min-width: 220px;
  animation: fadeIU .6s;

  &.gu-mirror {
    &:not(:nth-of-type(3)) {
      display: none !important;
    }
  }
}

.shadow {
  &--custom {
    box-shadow: 3px 4px 0 0 rgba(0, 0, 0, 0.03);
  }

  &--terms {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
  }

  &__big {
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, .02);
  }
}


/* Custom Fields | Form Fields */
#adminmenuback {
  z-index: 100;
}

.lisfinity-field {
  background-color: #f7f7f7 !important;
}

// search builder.
.search-builder {
  &--page {
    @apply w-2/3;
    @media (max-width: 1560px) {
      @apply w-full;
    }
  }

  &--navigation {
    padding-right: 30px;
    width: 205px;
    @media (max-width: 1280px) {
      @apply flex mb-30 pr-0 w-full;
    }

    ul {
      @apply flex-col;
      @media (max-width: 1280px) {
        @apply flex-row justify-between w-full;
        li {
          @apply mb-0 w-5/16;
        }
      }
    }
  }

  &--content {
    width: calc(100% - 205px);
    @media (max-width: 1280px) {
      @apply w-full;
    }
  }

  &--group {
    min-width: 275px;
    @apply cursor-default;
    &__keyword {
      min-width: 375px;
    }
  }
}

.sb-groups {
  @apply cursor-pointer;
  &:active {
    cursor: grabbing;
  }
}


.sb-tab {
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, .02);

  &--link {
    height: 160px;

    @media (max-width: 1280px) {
      height: 220px;
    }
    @media (max-width: 640px) {
      height: 160px;
    }
    @media (max-width: 520px) {
      height: 120px;
    }
  }

  &:focus {
    outline: 0;
    border: none;
    box-shadow: none;
  }

  &--active {
    box-shadow: inset 0px 0px 0px 2px #7cc4fa;
  }
}

body.wp-core-ui select.no-close {
  background-image: none;
}

body.wp-core-ui select.no-close,
body.wp-core-ui select.bg-grey-100 {
  height: 44px;
  line-height: 1;
  box-shadow: none;
  max-width: 100%;
  background-size: 14px 14px;
  padding-right: 20px !important;
  @apply flex py-4 px-10 bg-grey-100 border border-grey-200 rounded font-semibold text-sm text-grey-1000 cursor-pointer;
}

.taxonomy--item.gu-mirror {
  .taxonomy {
    &--element {
      padding: 20px;
      background-color: #eefcfa;
    }
  }
}

.cf-version,
.animate {
  animation: fadeIU .6s;
}

// react-dnd
.item {
  user-select: none;

  &.is-dragging {
    background-color: #f6fdff;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .1);
  }
}

.column {
  &--inner {
    background-color: #ebecf0;

    &.is-dragging {
      background-color: #d5d9de;
    }

    h3 {
      color: #172B4D;
    }
  }

}
