@media print {
  header.bg-header,
  footer.flex,
  aside,
  article + section {
    display: none;
  }
  .product {
    &--header,
    &--actions__left,
    &--actions__right {
      display: none;
    }
  }
  .to-print {
    width: 100%;
  }
}