/**
 -----------------------------------------------------------
 07. WooCommerce Styling
 -----------------------------------------------------------
 */

.woocommerce {
  div[class*="woocommerce columns-"] {
    width: 100%;
  }

  .page--content {
    &-shop {
      display: flex;
      flex-wrap: wrap;

      .woocommerce-notices-wrapper {
        width: 100%;
      }

      .woocommerce-result-count, .woocommerce-ordering {
        width: 50%;
        padding: 10px 20px;
        height: 60px;
        @apply flex items-center bg-white;
        @media (max-width: 470px) {
          height: auto;
        }
      }

      .woocommerce-result-count {
        border-bottom-left-radius: 4px;
        font-size: 14px;
        @media (max-width: 470px) {
          padding-bottom: 3px;
          border-radius: 0;
          @apply w-full mb-0;
        }
      }

      .woocommerce-ordering {
        border-bottom-right-radius: 4px;
        @apply flex justify-end;
        select {
          padding: 6px 12px;
          appearance: none;
          background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
          background-repeat: no-repeat;
          background-position-x: 98%;
          background-position-y: 6px;
          @apply bg-grey-100 rounded;
        }

        @media (max-width: 470px) {
          padding-bottom: 26px;
          @apply justify-start w-full rounded;
          select {
            @apply w-full;
          }
        }
      }
    }
  }
}

.woocommerce,
.woocommerce-page {
  .woocommerce-result-count {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
  }

  .woocommerce-ordering {
    display: inline-block;
    float: right;

    select {
      background-color: transparent;
      font-size: 14px;
    }
  }

  ul.products {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;

    li.product {
      margin: 0;
      padding: 16px;
      width: 49.9%;

      a {
        &.button {
          margin-top: 0;
          padding: .618em 1em;
          font-size: 14px;
          line-height: 1.5;

          &.added {
            display: none;
          }
        }

        span.price {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}

.is-full {
  ul.products {
    li.product {
      width: 33.33333%;
    }
  }

}

body.woocommerce {
  .woocommerce-loop-product {
    &__link {
      font-size: 18px;
      font-weight: 300;

      img {
        @apply rounded-t;
      }
    }
  }
}

.woocommerce-product--thumbnail {
  position: relative;
  height: 300px;
  @apply rounded-t;
  @media (max-width: 1180px) {
    height: 240px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.woocommerce ul.products li.product h2.woocommerce-loop-product__title {
  padding-top: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.4;
  @apply text-grey-1000;
}

li.product {

  .button,
  .added_to_cart {
    margin-top: 0;
    padding: .618em 1em;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    @apply bg-grey-300 text-grey-900;
    &:hover {
      @apply bg-grey-400;
    }

    &.added {
      display: none;
    }

    @media (max-width: 1030px) {
      padding: 12px 16px;
    }
  }

  .added_to_cart {
    @apply bg-blue-700 text-white;
    &:hover {
      @apply bg-blue-800 text-white;
    }
  }
}

.woocommerce-product--thumbnail {
  img {
    margin-bottom: 0;
  }
}

.woocommerce-product--content {
  padding: 30px;
  @apply bg-grey-100 rounded-b;

}

.woocommerce-product--price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  .price {
    margin-bottom: 0;
  }
}


body.woocommerce {
  .price {
    .amount {
      font-size: 14px;
      text-decoration: none;
      @apply text-grey-1000;
    }

    ins {
      text-decoration: none;
      font-weight: 400;

      span {
        font-weight: 400;
      }
    }

    del {
      opacity: 1;
      font-size: 12px;
      color: #f04d4e;

      .amount {
        font-size: 12px;
        color: #f04d4e;
      }
    }
  }

}

.woocommerce ul.products li.product .price del {
  @apply text-red-900;
}

.woocommerce {
  nav.woocommerce-pagination {
    margin: 20px auto 0;
    padding-top: 20px;
    border-top: 2px solid;
    @apply border-grey-100;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 -4px;
      border: none;

      li {
        margin: 0;
        padding: 0 4px;
        background-color: transparent;
        border: none;

        .page-numbers {
          padding: 0;
          background-color: transparent;
          font-weight: 600;
          @apply text-grey-500;

          &:hover {
            background-color: transparent;
            @apply text-grey-1000;
          }

          &.current {
            background-color: transparent;
            @apply text-grey-1000;
          }
        }
      }
    }
  }
}

body .woocommerce ul.products li.product .onsale {
  margin: 0;
  position: absolute;
  top: -10;
  right: -10;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  min-width: 44px;
  line-height: 1;
  font-size: 12px;
  font-weight: 600;
  border-radius: 0 0 0 4px;
  background-color: #f04d4e;
  @apply text-white rounded-full;
}

@media (max-width: 680px) {
  body .woocommerce ul.products[class*=columns-] li.product, body.woocommerce-page ul.products[class*=columns-] li.product {
    width: 100%;
    margin: 0 0 20px;
  }
}

.blog--sidebar {
  .widget--wrapper {
    .widget {
      ul.product-categories {
        li {
          margin-bottom: 7px;

          a {
            font-size: 15px;
            font-weight: 600;
            @apply text-grey-900;
            &:hover {
              @apply text-blue-700;
            }
          }

          .children {
            padding-top: 7px;
            padding-left: 10px;
          }
        }
      }

      ul.product_list_widget {
        li {
          display: block;
          margin-top: 10px;

          a {
            .product-title {
              font-size: 16px;
              @apply text-grey-900;
            }

            &:hover {
              .product-title {
                @apply text-blue-700;
              }
            }
          }
        }
      }
    }
  }
}

/**
 -----------------------------------------------------------
 07. WooCommerce Styling
 -----------------------------------------------------------
 */

.woocommerce-page {
  .widget--wrapper {
    @apply bg-white shadow-theme;
  }
}

.woocommerce,
.woocommerce-page {
  .woocommerce-result-count {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
  }

  .woocommerce-ordering {
    display: inline-block;
    float: right;

    select {
      background-color: transparent;
      font-size: 14px;
    }
  }

  ul.products {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    li.product {
      margin: 0;
      padding: 16px;
      width: 49.9%;

      a {
        &.button {
          margin-top: 10px;
          padding: .618em 1em;
          font-size: 14px;
          line-height: 1.5;
          display: flex;
          justify-content: center;
          align-items: center;

          &.added {
            display: none;
          }
        }

      }
    }
  }
}

.is-full {
  ul.products {
    li.product {
      width: 33.33333%;
    }
  }

}

body.woocommerce {
  .woocommerce-loop-product {
    &__link {
      font-size: 18px;
      font-weight: 300;

      img {
        @apply rounded-t;
      }
    }
  }
}

body.woocommerce .woocommerce-product--price .woocommerce-loop-product__link {
  .price {
    margin-bottom: 0;
  }
}

.woocommerce ul.products li.product h2.woocommerce-loop-product__title {
  margin-bottom: 8px;
  padding-top: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  margin-bottom: 0;
  font-size: 22px;
  line-height: 1.4;
  @apply text-grey-1000;
}

li.product {

  .button,
  .added_to_cart {
    margin-top: 0;
    padding: .618em 1em;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    @apply bg-grey-300 text-grey-900;
    &:hover {
      @apply bg-grey-400;
    }

    &.added {
      display: none;
    }

    @media (max-width: 1030px) {
      padding: 12px 16px;
    }
  }

  .added_to_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    line-height: 1.5;
    @apply bg-blue-700 text-white;
    &:hover {
      @apply bg-blue-800 text-white;
    }
  }
}

.woocommerce-product--thumbnail {
  img {
    margin-bottom: 0;
  }
}

.woocommerce-product--content {
  padding: 30px;
  @apply relative bg-grey-100 rounded-b;
}

body.woocommerce {
  .price {
    .amount {
      font-size: 14px;
      text-decoration: none;
      @apply text-grey-1000;
    }

    ins {
      text-decoration: none;
      font-weight: 400;

      span {
        font-weight: 400;
      }
    }

    del {
      font-size: 12px;
      color: #f04d4e;
      opacity: 1;

      .amount {
        color: #f04d4e;
      }
    }
  }
}

.woocommerce ul.products li.product .price del {
  opacity: 1;
  color: #f04d4e;
}

.woocommerce {
  nav.woocommerce-pagination {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid;
    @apply border-grey-100;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 -4px;
      border: none;

      li {
        margin: 0;
        padding: 0 4px;
        background-color: transparent;
        border: none;

        .page-numbers {
          padding: 0;
          background-color: transparent;
          font-weight: 600;
          @apply text-grey-500;

          &:hover {
            background-color: transparent;
            @apply text-grey-1000;
          }

          &.current {
            background-color: transparent;
            @apply text-grey-1000;
          }
        }
      }
    }
  }
}

@media (max-width: 680px) {
  body .woocommerce ul.products[class*=columns-] li.product, body.woocommerce-page ul.products[class*=columns-] li.product {
    width: 100%;
    margin: 0 0 20px;
  }
}

.blog--sidebar {
  .widget--wrapper {
    .widget {
      ul.product-categories {
        li {
          margin-bottom: 7px;

          a {
            font-size: 15px;
            font-weight: 600;
            @apply text-grey-900;
            &:hover {
              @apply text-blue-700;
            }
          }

          .children {
            padding-top: 7px;
            padding-left: 10px;
          }
        }
      }

      ul.product_list_widget {
        li {
          display: block;
          margin-top: 10px;

          a {
            .product-title {
              font-size: 16px;
              @apply text-grey-900;
            }

            &:hover {
              .product-title {
                @apply text-blue-700;
              }
            }
          }
        }
      }
    }
  }
}

.woocommerce ul.products li.product .price {
  color: inherit;
}

.woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product,
.woocommerce ul.products.columns-2 li.product, .woocommerce-page ul.products.columns-2 li.product,
.woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product {
  width: 49.9%;
}

.woocommerce-product--wrapper {
  @apply bg-white border border-grey-200 shadow-theme rounded;
}

.woocommerce, .woocommerce-page {
  .blog--sidebar {
    .widget--wrapper {
      .widget #wp-calendar tbody td {
        @apply bg-grey-100;
      }

      select {
        @apply bg-grey-100;
      }

      .widget_search {
        .search-form,
        input {
          @apply bg-grey-100;
        }
      }
    }
  }
}

.woocommerce-product--content {
  @apply bg-white;
}

.woocommerce ul.products li.product a.button,
.woocommerce-page ul.products li.product a.button {
  color: #7c4203;
  background-color: #fff2c5;

  &:hover {
    @apply bg-yellow-400;
  }
}

.woocommerce-product--price {
  margin-top: -10px;

  a {
    margin-top: 10px;
  }
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  @apply bg-white shadow-theme;
}

h1.page--title {
  &-shop {
    margin-bottom: 1px;
    border-radius: 4px 4px 0 0;
    @apply px-20 py-24 bg-white shadow-theme;
    @media (max-width: 480px) {
      @apply mb-0 py-12;
    }
  }
}

.woocommerce {
  .blog--sidebar .widget--wrapper .widget ul.product_list_widget li a,
  .blog--sidebar .widget--wrapper .widget ul.cart_list li a {
    font-weight: 600;
  }
}

.woocommerce {
  .blog--sidebar .widget--wrapper .widget ul.product_list_widget li {
    font-weight: 300;
  }
}

.woocommerce ul.product_list_widget {
  li {
    ins {
      text-decoration: none;
    }

    del {
      font-size: 12px;
      color: #f04d4e;
    }
  }
}

.woocommerce div.product form.cart .woocommerce-variation-description + .woocommerce-variation-price {
  margin-bottom: 10px;
}

.woocommerce div.product form.cart .woocommerce-variation-description p {
  font-size: 14px;
  line-height: 22px;
  @apply text-grey-700;
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
  width: 44px;
  border-radius: 6px;
}

body {
  &.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, &.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    @apply bg-blue-700;
  }

  &.woocommerce .widget_price_filter .ui-slider .ui-slider-range, &.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    @apply bg-grey-400;
  }
}

.woocommerce {
  .blog--sidebar .widget--wrapper .widget h6 {
    font-size: 20px;
  }
}

.woocommerce-product--meta {
  a,
  span {
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
  }
}

.woocommerce ul.products li.product .price {
  margin-top: 5px;
  margin-bottom: 0;
}

.woocommerce ul.products li.product .onsale {
  top: -5px;
  right: -10px;
}

.page:not(.lisfinity-page-account) li a.added_to_cart:hover {
  @apply text-white;
}
