/**
 -----------------------------------------------------------
 10. WooCommerce Checkout Styling
 -----------------------------------------------------------
 */

body.woocommerce-checkout {
  h1.page--title {
    margin-bottom: 20px;
    font-weight: 700;
  }

  main {
    .p-30.pb-60 {
      @apply px-0 pb-30;
    }
  }

  .woocommerce-error, .woocommerce-info, .woocommerce-message {
    @apply bg-grey-100 shadow-none;
  }

  .select2-container--default .select2-selection--single {
    background-color: transparent;
    border: none;
  }

  h3 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    @apply text-grey-1000;
  }

  p {
    font-size: 14px;
  }

  .woocommerce-info {
    margin-bottom: 1px;
    font-size: 14px;

    a {
      @apply text-blue-700;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  form.checkout_coupon,
  form.login,
  form.register {
    margin-top: 0;
    border: none;
    @apply bg-grey-100;
  }

  form {
    input:not(#keyword):not(.input-checkbox),
    select,
    textarea {
      display: flex;
      padding: 10px 20px;
      border: 1px solid;
      font-weight: 700;
      @apply bg-grey-100 border-grey-200 rounded text-grey-1000;
      &[name=coupon_code] {
        @apply bg-white;
      }
    }

    .select2 {
      display: flex;
      align-items: center;
      padding: 7px 10px;
      border: 1px solid;
      appearance: none;
      @apply bg-grey-100 border-grey-200 rounded;

      &-selection {
        background-color: transparent;
        border: none;
        font-weight: 700;
        @apply text-grey-1000;
      }

      .selection {
        width: 100%;
      }
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      top: 7px;
    }

    &.checkout_coupon {
      input {
        @apply bg-white;
      }

      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        p,
        input,
        button {
          width: 100%;
        }
      }
    }

    button[type=submit]:not(.btn) {
      padding: 12px 24px;
      font-weight: 700;
      @apply bg-green-700 rounded text-white;

      &:hover {
        @apply bg-green-800 text-white;
      }
    }
  }

  #shipping_address_2_field,
  #billing_address_2_field {
    margin-top: 44px;
    @media (max-width: 480px) {
      margin-top: 16px;
    }
  }
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  width: 50%;
}

.woocommerce .col2-set, .woocommerce-page .col2-set {
  display: flex;
  flex-direction: column;

  .col-1,
  .col-2 {
    width: 100%;

    .woocommerce-shipping-fields__field-wrapper,
    .woocommerce-billing-fields__field-wrapper {
      display: flex;
      flex-wrap: wrap;

      p.form-row {
        margin-top: 16px;
        width: 33.333333%;
        @media (max-width: 640px) {
          width: 50%;
        }
        @media (max-width: 480px) {
          width: 100%;
          margin-top: 8px;
        }

        .required {
          position: relative;
          top: -4px;
        }
      }
    }
  }

  table[class*="_table"] td.product-name {
    background-color: transparent;
  }
}

.woocommerce {
  .woocommerce-order {
    ul.order_details {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;

      & + p {
        margin-bottom: 0;
      }

      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -16px;
        left: 0;
        width: 100%;
        height: 16px;
        background: linear-gradient(transparent 0, transparent 0), linear-gradient(135deg, #f6f6f6 33.33%, transparent 33.33%), linear-gradient(45deg, #f6f6f6 33.33%, transparent 33.33%);
        background-size: 0 100%, 0px 16px, 6px 16px;
      }

      &::after {
        top: auto;
        bottom: -16px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      li {
        margin: 0;
        padding: 20px;
        width: 100%;
        border: none;
        border-bottom: 1px solid;
        @apply bg-grey-100 border-grey-200 text-grey-900;

        strong {
          margin-top: 4px;
          font-weight: 700;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  .woocommerce-customer-details {
    address {
      margin-top: 10px;
      padding: 20px;
      border: none;
      @apply bg-grey-100 rounded;
    }
  }
}

.woocommerce label.checkbox,
.woocommerce-page label.checkbox,
.woocommerce form .form-row label.checkbox,
.woocommerce-page form .form-row label.checkbox {
  display: block;

  .required {
    position: relative;
    top: -4px;
  }
}

.woocommerce label.checkbox,
.woocommerce-page label.checkbox {
  input {
    display: inline-block;
    margin-right: 6px;
  }
}

.woocommerce-terms-and-conditions-checkbox-text {
  margin-top: -1px;
}

.woocommerce form .form-row label {
  line-height: 1.5;

  &:not(.checkbox) {
    margin-bottom: 10px;
  }
}

#add_payment_method #payment ul.payment_methods li input, .woocommerce-cart #payment ul.payment_methods li input, .woocommerce-checkout #payment ul.payment_methods li input {
  display: inline-flex;
  margin-right: 6px;
}

// wc item meta
.wc-item-meta {
  display: none;
}
