.lisfinity-page-account {

  .map .leaflet-container {
    height: 280px;
  }

  .payouts--gateways {
    .lisfinity-field {
      -webkit-appearance: none;
    }
  }

  .woocommerce {
    &-order-details,
    &-customer-details {
      margin-top: 20px;
    }
  }

  .list-none {
    a {
      &:hover {
        text-decoration: none;
        @apply text-grey-800;
      }
    }
  }

  .header {
    &__left {
      max-height: none;

      &.w-1\/6 {
        @media (max-width: 1680px) {
          width: 20%;
        }
        @media (max-width: 1440px) {
          width: 25%;
        }
      }
    }
  }

  .logo {
    max-width: 200px;
  }

  &.woocommerce-account {
    .loader {
      &::before {
        display: none;
      }
    }
  }

  main {
    position: relative;
    top: 80px;
  }

  .header--dashboard {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
}

.dashboard {
  &--gallery {
    .gallery-items {
      margin-left: auto;
      padding-left: 20px;
      @media (min-width: 1840px) {
        padding-left: 0;
      }
      @media (max-width: 1330px) {
        width: 80%;
      }
    }
  }

  &--sidebar {
    position: fixed;
    left: 0;
    margin-top: 4px;
    height: 100%;
    z-index: 999;

    &.is-menu-opened {
      @media (max-width: 1680px) {
        width: 20%;
      }
      @media (max-width: 1440px) {
        width: 25%;
      }
      @media (max-width: 1080px) {
        width: 30%;
      }
      @media (max-width: 880px) {
        width: 40%;
      }
      @media (max-width: 640px) {
        width: 50%;
      }
      @media (max-width: 520px) {
        width: 60%;
      }
      @media (max-width: 380px) {
        width: 80%;
      }
    }
  }

  &--content {
    position: relative;
    margin-left: 16.6666667%;
    @media (max-width: 1440px) {
      left: 8%;
    }

    &.is-menu-opened {
      @media (max-width: 1680px) {
        margin-left: 0;
        flex: 0 0 80%;
        left: 20%;
        width: 80%;
      }
      @media (max-width: 1440px) {
        margin-left: 0;
        flex: 0 0 100%;
        left: 25%;
      }
    }

    &.is-menu-closed {
      margin-left: 60px;
      @media (max-width: 1440px) {
        left: 0;
      }
    }
  }

  input {
    &::placeholder {
      @apply font-normal text-grey-500;
    }

    &:-moz-placeholder {
      @apply font-normal text-grey-500;
    }

    &::-moz-placeholder {
      @apply font-normal text-grey-500;
    }

    &::-webkit-input-placeholder {
      @apply font-normal text-grey-500;
    }

    &:-ms-input-placeholder {
      @apply font-normal text-grey-500;
    }

    &::-ms-input-placeholder {
      @apply font-normal text-grey-500;
    }
  }

  .select-transparent {
    div[class*=control] {
      @apply border-0 cursor-pointer;
      &:focus,
      &:active,
      &:hover {
        @apply bg-transparent border-0 border-transparent shadow-none text-white;
      }
    }

    div[class*=singleValue] {
      @apply font-semibold;
    }

    span[class*=indicatorSeparator] {
      @apply hidden;
    }
  }
}

// price.
#page-dashboard {
  .woocommerce {
    &-Price-currencySymbol {
      position: relative;
      top: -4px;
      font-size: 12px;
    }
  }

  .package {
    &--price {
      .woocommerce-Price-currencySymbol {
        position: relative;
        top: -10px;
        font-size: 20px;
        font-weight: 600;
      }

      .on-sale {
        del {
          text-decoration: line-through;

          .woocommerce-Price-currencySymbol {
            top: -6px;
            font-size: 16px;
          }
        }
      }
    }
  }

  .notification {
    &--element {
      animation: fadeInUp .6s;
    }
  }

  .animate-up {
    animation: fadeInUp .6s;
  }

  .product {
    animation: fadeInUp .6s;
    // set widths.
    &--figure,
    &--title,
    &--notifications,
    &--actions {
      width: 100%;
    }

    &--price-table,
    &--agent {
      width: 50%;
    }

    @media (min-width: 768px) {
      &--figure,
      &--title {
        width: 50%;
      }

      &--price-table {
        width: 20%;
      }

      &--agent {
        width: 20%;
      }

      &--notifications {
        width: 40%;
      }

      &--actions {
        width: 20%;
      }
    }

    @media (min-width: 1240px) {
      &--figure {
        width: 10%;
      }

      &--title {
        width: 20%;
      }

      &--price-table {
        width: 15%;
      }

      &--agent {
        width: 15%;
      }

      &--notifications {
        width: 25%;
      }

      &--actions {
        width: 15%;
      }
    }

    // set price.
    &--price {
      &.on-sale {
        @apply flex flex-row-reverse;
        ins {
          text-decoration: none;
        }

        del {
          position: relative;
          top: -2px;
          left: 4px;
          font-size: 12px;
          opacity: .2;
        }
      }
    }
  }
}

.marker {
  &--online {
    @apply bg-green-700;
    box-shadow: 0 0 2px 3px rgba(20, 125, 100, .2);
  }

  &--status {
    @apply flex-center w-10 h-10 bg-green-600 rounded-full;
    box-shadow: 0 0 2px 3px rgba(20, 125, 100, .2);

    &.yellow {
      @apply bg-yellow-600;
      box-shadow: 0 0 2px 3px rgba(240, 180, 41, .2);
    }

    &.red {
      @apply bg-red-600;
      box-shadow: 0 0 2px 3px rgba(225, 45, 57, .2);
    }
  }
}

// become premium profile.
.become-premium {
  &--content {
    font-size: 24px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      @apply text-white;
    }

    h1 {
      font-size: 48px;
    }

    h2 {
      font-size: 44px;
    }

    h3 {
      font-size: 40px;
    }

    h4 {
      font-size: 36px;
    }

    h5 {
      font-size: 32px;
    }

    h6 {
      font-size: 28px;
    }

    p {
      font-size: 24px;
    }
  }
}

.chart {
  &--tip {
    &.impression {
      svg {
        fill: #ef4e4e;
      }
    }

    &.reach {
      svg {
        fill: #f9703e;
      }
    }

    &.lead {
      svg {
        fill: #3ebd93;
      }
    }

    &.conversion {
      svg {
        fill: #f7c948;
      }
    }

    &-description {
      display: none;
      top: -20px;
      right: -120px;
      text-align: center;
    }
  }
}

.chart--tip:hover + .chart--tip-description {
  display: block;
}

// dashboard responsiveness.
.dashboard {
  &--promotion-products {
    @apply w-full;
    @media (min-width: 768px) {
      @apply w-1/2;
    }
    @media (min-width: 1030px) {
      @apply w-1/3;
    }
    @media (min-width: 1140px) {
      @apply w-1/2;
    }
    @media (min-width: 1740px) {
      @apply w-1/3;
    }
  }

  &--bids,
  &--banned {
    @apply w-full;
    @media (min-width: 768px) {
      @apply w-1/2;
    }
    @media (min-width: 1030px) {
      @apply w-1/3;
    }
    @media (min-width: 1140px) {
      @apply w-1/2;
    }
    @media (min-width: 1480px) {
      @apply w-1/3;
    }
  }
}

// packages.
.packages-active {
  &--header {
    @apply flex;
    @media (max-width: 1200px) {
      @apply hidden;
    }
  }
}

.package {
  &--width {
    @apply w-1/5;
    @media (max-width: 1200px) {
      @apply my-10 w-1/4;
    }
    @media (max-width: 580px) {
      @apply mt-10 mb-0 w-full;
    }

    &__title,
    &__action {
      @media (max-width: 1200px) {
        @apply w-full;
      }
    }
  }

  &--mobile-info {
    @apply hidden;
    @media (max-width: 1200px) {
      @apply inline-block;
    }
  }
}

// business form.
.form {
  &--business {
    @apply w-full;
    @media (min-width: 1030px) {
      @apply w-3/4;
    }
    @media (min-width: 1360px) {
      @apply w-2/4;
    }
  }
}

.gallery {
  &--button {
    @apply w-full mb-20;
    @media (min-width: 1660px) {
      @apply w-1/6;
    }
  }

  &--box {
    @apply w-1/2;
    @media (min-width: 640px) {
      @apply w-1/3;
    }
    @media (min-width: 1440px) {
      @apply w-1/3;
    }
    @media (min-width: 1660px) {
      @apply w-1/4;
    }
    @media (min-width: 1980px) {
      @apply w-1/6;
    }
  }
}

// premium profile.
.dashboard {
  &--premium {
    @apply w-full;
    flex-direction: column-reverse;

    &--form {
      @apply w-2/6;
      @media (max-width: 1180px) {
        width: 100%;
      }
    }

    &--content {
      @apply w-4/6;
      @media (max-width: 1180px) {
        width: 100%;
        height: 310px;
      }
    }

    @media (min-width: 640px) {
      @apply w-11/16;
    }

    @media (min-width: 1180px) {
      @apply flex-row w-14/16;
    }
    @media (min-width: 1600px) {
      @apply w-11/16;
    }
  }
}

// orders & downloads
.download,
.order {
  &--item {
    @apply bg-grey-100;
    @media(min-width: 640px) {
      @apply bg-transparent;
      &:nth-child(odd) {
        @apply bg-blue-100;
      }
    }
  }
}

.lisfinity-page-account .woocommerce {
  table[class*="_table"] {
    margin-top: 10px;
    text-align: left;

    ul {
      li {
        display: flex;

        strong {
          font-weight: 600;
        }
      }
    }

    th {
      padding-bottom: 10px;
      text-align: left;
      @apply px-20;
    }

    td {
      border-right: 1px solid;
      border-bottom: 1px solid;
      @apply px-20 bg-blue-100 border-white;

      &.woocommerce-table__product-name.product-name,
      &.woocommerce-table__product-total.product-total {
        @apply bg-grey-100;
      }

      &.download-file {
        a {
          text-decoration: none;
          @apply text-white;
          &:hover {
            text-decoration: none;
            @apply text-white;
          }
        }
      }

      a {
        @apply text-blue-700;
        &:hover {
          text-decoration: underline;
        }
      }

      .product-quantity {
        font-weight: 400;
        font-size: 12px;
      }

    }

    tfoot {
      th {
        border-right: 1px solid;
        border-bottom: 1px solid;
        @apply py-10 px-20 bg-blue-100 border-white font-semibold text-grey-1000;
      }

      tr:last-child {
        td {
          span.amount {
            @apply font-bold;
          }
        }
      }
    }
  }
}

// wp media styles that are affected by WooCommerce.
h2.media-attachments-filter-heading {
  top: -11px;
  left: 16px;
  font-size: 14px !important;
}

.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
  position: absolute;
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


// business form responsive styles
.form--business {
  @media (max-width: 480px) {
    .field.mb-40 {
      margin-bottom: 20px;
    }
  }


  @media (max-width: 480px) {
    .working-hours--tabs {
      flex-wrap: wrap;

      button {
        margin-top: 1px;
        width: calc(25% - 1px);
      }
    }
    .form-business--submit {
      button {
        width: 100%;
        justify-content: center;
      }
    }
  }

}

// premium profile responsive styles.
.become-premium {
  .dashboard--premium--content {
    .absolute .z-1 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%)
    }
  }

  .absolute {
    font-size: 15px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 28px !important;
  }
}

// orders responsive styles.
.order--item .flex.w-full {
  @media (max-width: 480px) {
    width: 50%;
    &.order--btn {
      width: 100%;
    }
  }
}

// product submit form responsive styles.
.steps--wrapper {
  @media (max-width: 430px) {
    .w-1\/2 {
      width: 100%;
    }
    .product-box--actions__group {
      margin-top: 15px;
      margin-left: 0;
    }
  }
}

@media (max-width: 480px) {
  .map-tabs {
    .mb-40 {
      @media (max-width: 480px) {
        margin-bottom: 20px;
        .map-tab--google {
          width: 100%;
        }
        .map-tab--coords {
          width: 100%;

          .w-1\/2 {
            width: 100%;

            &.pl-4 {
              margin-top: 10px;
              padding-left: 0;
            }
          }
        }
      }
    }
  }

  .map-tabs--nav {
    @media (max-width: 480px) {
      flex-wrap: wrap;
      button {
        width: 100%;

        &:first-child {
          position: relative;
          top: 1px;
          left: -1px;
          border-radius: 4px 4px 0 0;
        }

        &:last-child {
          border-radius: 0 0 4px 4px;
        }
      }
    }
  }
}

.business--overlay {
  z-index: 99;
}

.gallery-sort-handle {
  background-color: #000;
  transition: .2s ease-out;

  .cf-media-gallery__item-preview {
    transition: .2s ease-out;
  }

  &:hover {
    transition: .2s ease-in;

    .cf-media-gallery__item-preview {
      opacity: .7;
      transition: .2s ease-in;
    }
  }
}
