header {
  z-index: 100;
}

.menu--lisfinity {
  .sub-menu {
    @apply hidden py-10;
    ul {
      @apply py-12;
      li {
        @apply p-0;
        min-width: 180px;

        &:hover {
          @apply bg-grey-200;
        }

        a {
          @apply flex py-6 px-16 font-normal text-base text-grey-900;
        }
      }
    }
  }
}

@media (min-width: 1030px) {
  .menu--lisfinity {
    ul {
      li {
        &.has-dropdown {
          &:hover {
            > .sub-menu {
              @apply flex;
            }
          }

          .has-dropdown {
            .sub-menu {
              top: 8px;
              left: calc(100% - 25px);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1030px) {
  .menu--lisfinity {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 75%;
    min-width: 240px;
    @apply bg-white rounded-l;
    .menu--close {
      top: 20px;
      left: 20px;
    }

    nav {
      @apply mt-60;
      ul {
        @apply mx-0;
        li {
          @apply p-0;
          &:hover {
            @apply bg-grey-200;
          }

          a {
            @apply flex justify-end px-20 py-8 text-grey-900;
          }
        }
      }
    }
  }
  .logged-in {
    .menu--lisfinity {
      top: 34px;
    }
  }
  .sub-menu {
    @apply relative inset-auto w-auto bg-grey-200;
    ul {
      li {
        &:hover {
          @apply bg-white;
        }
      }
    }
  }
}

@media (max-width: 782px) {
  .logged-in {
    .menu--lisfinity {
      top: 46px;
    }
  }
}
