/* Widgets | General */
.widget {
  @apply text-base text-grey-700;
  p {
    line-height: 1.9;
    @apply text-base text-grey-500;
  }

  a {
    @apply text-base text-grey-500;
    &:hover {
      @apply text-grey-200;
    }
  }

  & + .widget {
    @apply mt-60;
    @media (max-width: 640px) {
      @apply mt-20;
    }
  }

  /* Widgets | Social Widget */
  &.carbon_fields_ {
    &social_widget {
      ul {
        li {
          a {
            @apply border-grey-800 text-grey-800;
            &:hover {
              @apply border-grey-400 text-white;
            }
          }
        }
      }
    }
  }
}

.footer {
  .widget {
    ul,
    ol {
      padding-top: 0;

      li {
        &:not(:first-child) {
          margin-top: 8px;
        }
      }
    }
  }
}
