/**
 -----------------------------------------------------------
 05. Page Styling
 -----------------------------------------------------------
 */

.page header .menu--lisfinity ul li a:hover {
  text-decoration: none;
  @apply text-white;
}

.page header .menu--lisfinity ul li ul.sub-menu-wrapper a:hover {
  @apply text-grey-900;
}

.woocommerce-notices-wrapper {
  ol,
  ul.woocommerce-error {
    li {
      margin-top: -2px;
    }
  }
}

body {
  header#header--main {
    .relative .flex {
      p.text-white,
      h2.text-white {
        @apply text-white;
      }
    }
  }
}

.page:not(.lisfinity-page-account) {
  h2:not(.site-title):not([class*=__cst]) {
    margin-top: 20px;
  }

  h1 + h2 {
    margin-top: 0;
  }


  .page--title {
    margin-bottom: 30px;
    font-weight: 700;
  }

  .page-description {
    font-weight: 700;
  }

  .page--content:not(.elementor-content):not(.page--content-shop) {
    font-size: 16px;
    line-height: 1.8;

    p {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 1.8;
    }

    ul {
      list-style-type: circle;
    }

    ol {
      list-style-type: decimal;
    }

    ul,
    ol {
      list-style-position: inside;
    }
  }

  .footer {
    li {
      a {
        &:hover {
          @apply text-white;
        }
      }
    }
  }

  .page--lisfinity {
    form {
      .comment-form-comment {
        margin-bottom: 20px;
      }
    }
  }

}

.footer,
.theme-lisfinity .page-content {
  form.search-form {
    @apply bg-grey-100 rounded border-grey-400;

    label {
      width: 100%;

      svg {
        position: absolute;
        top: 14px;
        left: 14px;
        z-index: 1;
      }
    }

    input {
      width: 100%;
      font-weight: 600;
      padding-left: 40px;
      padding-right: 20px;
      @apply relative h-44 border border-grey-200 text-grey-1000;
      &:focus,
      &:active {
        box-shadow: none;
        outline: 0;
      }

      &[type=submit] {
        display: none;
      }

      &::placeholder {
        @apply text-grey-800;
      }
    }
  }
}
