.business {
  &--tabs {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.05);
  }

  &--about {
    p {
      margin-top: 20px;
      line-height: 1.8;

      @apply text-lg text-grey-700;
      &:nth-child(1) {
        margin-top: 0;
      }

      strong {
        @apply text-6xl text-grey-1000;
      }
    }
  }

  .marker {
    &--triangle {
      position: absolute;
      bottom: -7px;
      width: 0;
      height: 0;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-top: 18px solid #fff;
      z-index: -1;
    }
  }
}
